@charset "UTF-8";

@font-face {
    font-family: "<%= fontName %>";
    src: url('<%= fontPath %><%= fontName %>-<%= version %>.eot');
    src: url('<%= fontPath %><%= fontName %>-<%= version %>.eot?#iefix') format('embedded-opentype'),
    url('<%= fontPath %><%= fontName %>-<%= version %>.woff') format('woff'),
    url('<%= fontPath %><%= fontName %>-<%= version %>.ttf') format('truetype'),
    url('<%= fontPath %><%= fontName %>-<%= version %>.svg#<%= fontName %>') format('svg');
    font-weight: normal;
    font-style: normal;
}

[data-icon]:before {
    font-family: "<%= fontName %>" !important;
    content: attr(data-icon);
    font-style: normal !important;
    font-weight: normal !important;
    font-variant: normal !important;
    text-transform: none !important;
    speak: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

[class^="icon-"]:before,
[class*=" icon-"]:before {
    font-family: "<%= fontName %>" !important;
    font-style: normal !important;
    font-weight: normal !important;
    font-variant: normal !important;
    text-transform: none !important;
    speak: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

<% _.each(glyphs, function(glyph) { %>.icon-<%= glyph.name %>:before {
    content: "\<%= glyph.unicode[0].charCodeAt(0).toString(16).toUpperCase() %>";
}
<% }); %>
