@charset "UTF-8";

@font-face {
    font-family: "baicons-mobile";
    src: url('fonts/baicons-mobile-087.eot');
    src: url('fonts/baicons-mobile-087.eot?#iefix') format('embedded-opentype'),
    url('fonts/baicons-mobile-087.woff') format('woff'),
    url('fonts/baicons-mobile-087.ttf') format('truetype'),
    url('fonts/baicons-mobile-087.svg#baicons-mobile') format('svg');
    font-weight: normal;
    font-style: normal;
}

[data-icon]:before {
    font-family: "baicons-mobile" !important;
    content: attr(data-icon);
    font-style: normal !important;
    font-weight: normal !important;
    font-variant: normal !important;
    text-transform: none !important;
    speak: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

[class^="icon-"]:before,
[class*=" icon-"]:before {
    font-family: "baicons-mobile" !important;
    font-style: normal !important;
    font-weight: normal !important;
    font-variant: normal !important;
    text-transform: none !important;
    speak: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.icon-arrow-down:before {
    content: "\EA01";
}
.icon-arrow-left:before {
    content: "\EA02";
}
.icon-arrow-right:before {
    content: "\EA03";
}
.icon-arrow-up:before {
    content: "\EA04";
}
.icon-beautyarea:before {
    content: "\EA05";
}
.icon-call:before {
    content: "\EA06";
}
.icon-contact:before {
    content: "\EA07";
}
.icon-create:before {
    content: "\EA08";
}
.icon-createcv-blod:before {
    content: "\EA09";
}
.icon-createcv:before {
    content: "\EA0A";
}
.icon-createposition:before {
    content: "\EA0B";
}
.icon-creditcard:before {
    content: "\EA0C";
}
.icon-delete:before {
    content: "\EA0D";
}
.icon-ding:before {
    content: "\EA0E";
}
.icon-done:before {
    content: "\EA0F";
}
.icon-downloadapp:before {
    content: "\EA10";
}
.icon-favor:before {
    content: "\EA11";
}
.icon-finish:before {
    content: "\EA12";
}
.icon-food:before {
    content: "\EA13";
}
.icon-highsalary:before {
    content: "\EA14";
}
.icon-housing:before {
    content: "\EA15";
}
.icon-insurance:before {
    content: "\EA16";
}
.icon-loan:before {
    content: "\EA17";
}
.icon-mail-hollow:before {
    content: "\EA18";
}
.icon-mail-solid:before {
    content: "\EA19";
}
.icon-message-hollow:before {
    content: "\EA1A";
}
.icon-message-solid:before {
    content: "\EA1B";
}
.icon-nearby:before {
    content: "\EA1C";
}
.icon-phone:before {
    content: "\EA1D";
}
.icon-search:before {
    content: "\EA1E";
}
.icon-share:before {
    content: "\EA1F";
}
.icon-sixrooms:before {
    content: "\EA20";
}
.icon-startbusiness:before {
    content: "\EA21";
}
.icon-weixin-hollow:before {
    content: "\EA22";
}
.icon-weixin-soild:before {
    content: "\EA23";
}
