@charset "UTF-8";

@font-face {
    font-family: "baicons";
    src: url('fonts/baicons.eot');
    src: url('fonts/baicons.eot?#iefix') format('embedded-opentype'),
    url('fonts/baicons.woff?ver=0.6.6') format('woff'),
    url('fonts/baicons.ttf?ver=0.6.6') format('truetype'),
    url('fonts/baicons.svg?ver=0.6.6#baicons') format('svg');
    font-weight: normal;
    font-style: normal;
}

[data-icon]:before {
    font-family: "baicons" !important;
    content: attr(data-icon);
    font-style: normal !important;
    font-weight: normal !important;
    font-variant: normal !important;
    text-transform: none !important;
    speak: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

[class^="icon-"]:before,
[class*=" icon-"]:before {
    font-family: "baicons" !important;
    font-style: normal !important;
    font-weight: normal !important;
    font-variant: normal !important;
    text-transform: none !important;
    speak: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.icon-android:before {
    content: "\EA01";
}
.icon-apple:before {
    content: "\EA02";
}
.icon-arrow-bottom:before {
    content: "\EA03";
}
.icon-arrow-left:before {
    content: "\EA04";
}
.icon-arrow-right:before {
    content: "\EA05";
}
.icon-arrow-top:before {
    content: "\EA06";
}
.icon-arrow-up:before {
    content: "\EA07";
}
.icon-bars:before {
    content: "\EA08";
}
.icon-blocked:before {
    content: "\EA09";
}
.icon-bubble:before {
    content: "\EA0A";
}
.icon-bullhorn:before {
    content: "\EA0B";
}
.icon-calendar:before {
    content: "\EA0C";
}
.icon-camera:before {
    content: "\EA0D";
}
.icon-cart:before {
    content: "\EA0E";
}
.icon-cash-bag:before {
    content: "\EA0F";
}
.icon-cat-chongwu:before {
    content: "\EA10";
}
.icon-cat-ershouche:before {
    content: "\EA11";
}
.icon-cat-fangwu:before {
    content: "\EA12";
}
.icon-cat-fuwu:before {
    content: "\EA13";
}
.icon-cat-jianli:before {
    content: "\EA14";
}
.icon-cat-jiaoyu:before {
    content: "\EA15";
}
.icon-cat-quanzhi:before {
    content: "\EA16";
}
.icon-check-mark-circle:before {
    content: "\EA17";
}
.icon-check-mark:before {
    content: "\EA18";
}
.icon-clock:before {
    content: "\EA19";
}
.icon-cog:before {
    content: "\EA1A";
}
.icon-delete-circle:before {
    content: "\EA1B";
}
.icon-delete:before {
    content: "\EA1C";
}
.icon-envelope:before {
    content: "\EA1D";
}
.icon-eye:before {
    content: "\EA1E";
}
.icon-fire:before {
    content: "\EA1F";
}
.icon-flag:before {
    content: "\EA20";
}
.icon-heart:before {
    content: "\EA21";
}
.icon-image:before {
    content: "\EA22";
}
.icon-info:before {
    content: "\EA23";
}
.icon-lightning:before {
    content: "\EA24";
}
.icon-location:before {
    content: "\EA25";
}
.icon-loop:before {
    content: "\EA26";
}
.icon-minus-circle:before {
    content: "\EA27";
}
.icon-minus:before {
    content: "\EA28";
}
.icon-mobile:before {
    content: "\EA29";
}
.icon-pencil:before {
    content: "\EA2A";
}
.icon-phone:before {
    content: "\EA2B";
}
.icon-pin-to-top:before {
    content: "\EA2C";
}
.icon-plus-circle:before {
    content: "\EA2D";
}
.icon-plus:before {
    content: "\EA2E";
}
.icon-post:before {
    content: "\EA2F";
}
.icon-question:before {
    content: "\EA30";
}
.icon-remove:before {
    content: "\EA31";
}
.icon-renew:before {
    content: "\EA32";
}
.icon-safety-warn:before {
    content: "\EA33";
}
.icon-safety:before {
    content: "\EA34";
}
.icon-search:before {
    content: "\EA35";
}
.icon-share:before {
    content: "\EA36";
}
.icon-star:before {
    content: "\EA37";
}
.icon-tag:before {
    content: "\EA38";
}
.icon-triangle-down:before {
    content: "\EA39";
}
.icon-user:before {
    content: "\EA3A";
}
.icon-users:before {
    content: "\EA3B";
}
.icon-vcard:before {
    content: "\EA3C";
}
.icon-view-item:before {
    content: "\EA3D";
}
.icon-view-pic:before {
    content: "\EA3E";
}
.icon-view-title:before {
    content: "\EA3F";
}
.icon-weibo:before {
    content: "\EA40";
}
.icon-windows:before {
    content: "\EA41";
}
