@charset "UTF-8";

@font-face {
    font-family: "baicons2";
    src: url('fonts/baicons2-0814.eot');
    src: url('fonts/baicons2-0814.eot?#iefix') format('embedded-opentype'),
    url('fonts/baicons2-0814.woff') format('woff'),
    url('fonts/baicons2-0814.ttf') format('truetype'),
    url('fonts/baicons2-0814.svg#baicons2') format('svg');
    font-weight: normal;
    font-style: normal;
}

[data-icon]:before {
    font-family: "baicons2" !important;
    content: attr(data-icon);
    font-style: normal !important;
    font-weight: normal !important;
    font-variant: normal !important;
    text-transform: none !important;
    speak: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

[class^="icon-"]:before,
[class*=" icon-"]:before {
    font-family: "baicons2" !important;
    font-style: normal !important;
    font-weight: normal !important;
    font-variant: normal !important;
    text-transform: none !important;
    speak: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.icon-ace:before {
    content: "\EA01";
}
.icon-alipay:before {
    content: "\EA02";
}
.icon-arrow-down-3:before {
    content: "\EA03";
}
.icon-arrow-down:before {
    content: "\EA04";
}
.icon-arrow-left-2:before {
    content: "\EA05";
}
.icon-arrow-left:before {
    content: "\EA06";
}
.icon-arrow-right-2:before {
    content: "\EA07";
}
.icon-arrow-right:before {
    content: "\EA08";
}
.icon-arrow-up-3:before {
    content: "\EA09";
}
.icon-arrow-up-w:before {
    content: "\EA0A";
}
.icon-arrow-up:before {
    content: "\EA0B";
}
.icon-baoan:before {
    content: "\EA0C";
}
.icon-baozhu:before {
    content: "\EA0D";
}
.icon-bianmin:before {
    content: "\EA0E";
}
.icon-canyin:before {
    content: "\EA0F";
}
.icon-certification:before {
    content: "\EA10";
}
.icon-chabo:before {
    content: "\EA11";
}
.icon-chaoji:before {
    content: "\EA12";
}
.icon-cheliang:before {
    content: "\EA13";
}
.icon-complaint:before {
    content: "\EA14";
}
.icon-confirm:before {
    content: "\EA15";
}
.icon-congwu:before {
    content: "\EA16";
}
.icon-congwuzengsong:before {
    content: "\EA17";
}
.icon-create:before {
    content: "\EA18";
}
.icon-createcv:before {
    content: "\EA19";
}
.icon-createcv2:before {
    content: "\EA1A";
}
.icon-creditcard:before {
    content: "\EA1B";
}
.icon-cuxiao:before {
    content: "\EA1C";
}
.icon-datu:before {
    content: "\EA1D";
}
.icon-delete:before {
    content: "\EA1E";
}
.icon-ding:before {
    content: "\EA1F";
}
.icon-ditu:before {
    content: "\EA20";
}
.icon-done:before {
    content: "\EA21";
}
.icon-download:before {
    content: "\EA22";
}
.icon-ershou:before {
    content: "\EA23";
}
.icon-fangchansui:before {
    content: "\EA24";
}
.icon-fangwu:before {
    content: "\EA25";
}
.icon-favor:before {
    content: "\EA26";
}
.icon-feedback:before {
    content: "\EA27";
}
.icon-fresh:before {
    content: "\EA28";
}
.icon-fuli:before {
    content: "\EA29";
}
.icon-gold:before {
    content: "\EA2A";
}
.icon-gongren:before {
    content: "\EA2B";
}
.icon-help:before {
    content: "\EA2C";
}
.icon-huoji:before {
    content: "\EA2D";
}
.icon-idcard:before {
    content: "\EA2E";
}
.icon-index:before {
    content: "\EA2F";
}
.icon-info:before {
    content: "\EA30";
}
.icon-jiaji:before {
    content: "\EA31";
}
.icon-jianzhi:before {
    content: "\EA32";
}
.icon-jiaoyou:before {
    content: "\EA33";
}
.icon-jiazheng:before {
    content: "\EA34";
}
.icon-jinengjiaohuan:before {
    content: "\EA35";
}
.icon-kefu:before {
    content: "\EA36";
}
.icon-link-2:before {
    content: "\EA37";
}
.icon-link:before {
    content: "\EA38";
}
.icon-list:before {
    content: "\EA39";
}
.icon-location:before {
    content: "\EA3A";
}
.icon-mail-hollow:before {
    content: "\EA3B";
}
.icon-mail-open:before {
    content: "\EA3C";
}
.icon-mail-solid:before {
    content: "\EA3D";
}
.icon-mail:before {
    content: "\EA3E";
}
.icon-mail2:before {
    content: "\EA3F";
}
.icon-manage:before {
    content: "\EA40";
}
.icon-meishi:before {
    content: "\EA41";
}
.icon-message:before {
    content: "\EA42";
}
.icon-message2:before {
    content: "\EA43";
}
.icon-mobile:before {
    content: "\EA44";
}
.icon-mobile2:before {
    content: "\EA45";
}
.icon-more:before {
    content: "\EA46";
}
.icon-new:before {
    content: "\EA47";
}
.icon-peixun:before {
    content: "\EA48";
}
.icon-private-message:before {
    content: "\EA49";
}
.icon-promotion:before {
    content: "\EA4A";
}
.icon-qiuzhi:before {
    content: "\EA4B";
}
.icon-qq:before {
    content: "\EA4C";
}
.icon-recruit:before {
    content: "\EA4D";
}
.icon-renwu:before {
    content: "\EA4E";
}
.icon-search:before {
    content: "\EA4F";
}
.icon-search2:before {
    content: "\EA50";
}
.icon-service-business:before {
    content: "\EA51";
}
.icon-service-life:before {
    content: "\EA52";
}
.icon-service:before {
    content: "\EA53";
}
.icon-share:before {
    content: "\EA54";
}
.icon-shuangxiu:before {
    content: "\EA55";
}
.icon-siji:before {
    content: "\EA56";
}
.icon-sound:before {
    content: "\EA57";
}
.icon-sunfengche:before {
    content: "\EA58";
}
.icon-tel:before {
    content: "\EA59";
}
.icon-tesheleimu:before {
    content: "\EA5A";
}
.icon-tieba:before {
    content: "\EA5B";
}
.icon-time:before {
    content: "\EA5C";
}
.icon-tips:before {
    content: "\EA5D";
}
.icon-tips2:before {
    content: "\EA5E";
}
.icon-toolbox:before {
    content: "\EA5F";
}
.icon-tuiguang:before {
    content: "\EA60";
}
.icon-tuwen:before {
    content: "\EA61";
}
.icon-unfavor:before {
    content: "\EA62";
}
.icon-video:before {
    content: "\EA63";
}
.icon-wancheng:before {
    content: "\EA64";
}
.icon-weibo:before {
    content: "\EA65";
}
.icon-weixin:before {
    content: "\EA66";
}
.icon-weizhang:before {
    content: "\EA67";
}
.icon-weizp:before {
    content: "\EA68";
}
.icon-wuliu:before {
    content: "\EA69";
}
.icon-wupinzengsong:before {
    content: "\EA6A";
}
.icon-wuxian:before {
    content: "\EA6B";
}
.icon-xiangguan:before {
    content: "\EA6C";
}
.icon-xiaomi:before {
    content: "\EA6D";
}
.icon-xiaoshou:before {
    content: "\EA6E";
}
.icon-xingzheng:before {
    content: "\EA6F";
}
.icon-xinwen:before {
    content: "\EA70";
}
.icon-yuyue:before {
    content: "\EA71";
}
.icon-zan:before {
    content: "\EA72";
}
.icon-zhaohezu:before {
    content: "\EA73";
}
.icon-zhaopin:before {
    content: "\EA74";
}
.icon-zhaorenxunwu:before {
    content: "\EA75";
}
.icon-zhima:before {
    content: "\EA76";
}
.icon-zhizhao:before {
    content: "\EA77";
}
