@charset "UTF-8";

@font-face {
    font-family: "baicons";
    src: url('fonts/baicons.eot');
    src: url('fonts/baicons.eot?#iefix') format('embedded-opentype'),
    url('fonts/baicons.woff') format('woff'),
    url('fonts/baicons.ttf') format('truetype'),
    url('fonts/baicons.svg#baicons') format('svg');
    font-weight: normal;
    font-style: normal;
}

[data-icon]:before {
    font-family: "baicons" !important;
    content: attr(data-icon);
    font-style: normal !important;
    font-weight: normal !important;
    font-variant: normal !important;
    text-transform: none !important;
    speak: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

[class^="icon-"]:before,
[class*=" icon-"]:before {
    font-family: "baicons" !important;
    font-style: normal !important;
    font-weight: normal !important;
    font-variant: normal !important;
    text-transform: none !important;
    speak: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.icon-android:before {
    content: "\EA01";
}
.icon-apple:before {
    content: "\EA02";
}
.icon-arrow-bottom:before {
    content: "\EA03";
}
.icon-arrow-left:before {
    content: "\EA04";
}
.icon-arrow-right:before {
    content: "\EA05";
}
.icon-arrow-top:before {
    content: "\EA06";
}
.icon-arrow-up:before {
    content: "\EA07";
}
.icon-bars:before {
    content: "\EA08";
}
.icon-blocked:before {
    content: "\EA09";
}
.icon-bubble:before {
    content: "\EA0A";
}
.icon-bullhorn:before {
    content: "\EA0B";
}
.icon-calendar:before {
    content: "\EA0C";
}
.icon-camera:before {
    content: "\EA0D";
}
.icon-cart:before {
    content: "\EA0E";
}
.icon-cash-bag:before {
    content: "\EA0F";
}
.icon-cat-chongwu:before {
    content: "\EA10";
}
.icon-cat-ershouche:before {
    content: "\EA11";
}
.icon-cat-fangwu:before {
    content: "\EA12";
}
.icon-cat-fuwu:before {
    content: "\EA13";
}
.icon-cat-jianli:before {
    content: "\EA14";
}
.icon-cat-jiaoyu:before {
    content: "\EA15";
}
.icon-cat-quanzhi:before {
    content: "\EA16";
}
.icon-check-mark-circle:before {
    content: "\EA17";
}
.icon-check-mark:before {
    content: "\EA18";
}
.icon-clock:before {
    content: "\EA19";
}
.icon-cog:before {
    content: "\EA1A";
}
.icon-delete-circle:before {
    content: "\EA1B";
}
.icon-delete:before {
    content: "\EA1C";
}
.icon-envelope:before {
    content: "\EA1D";
}
.icon-eye:before {
    content: "\EA1E";
}
.icon-fire:before {
    content: "\EA1F";
}
.icon-flag:before {
    content: "\EA20";
}
.icon-heart:before {
    content: "\EA21";
}
.icon-image:before {
    content: "\EA22";
}
.icon-info:before {
    content: "\EA23";
}
.icon-lightning:before {
    content: "\EA24";
}
.icon-location:before {
    content: "\EA25";
}
.icon-loop:before {
    content: "\EA26";
}
.icon-minus-circle:before {
    content: "\EA27";
}
.icon-minus:before {
    content: "\EA28";
}
.icon-mobile:before {
    content: "\EA29";
}
.icon-pencil:before {
    content: "\EA2A";
}
.icon-phone:before {
    content: "\EA2B";
}
.icon-pin-to-top:before {
    content: "\EA2C";
}
.icon-plus-circle:before {
    content: "\EA2D";
}
.icon-plus:before {
    content: "\EA2E";
}
.icon-post:before {
    content: "\EA2F";
}
.icon-question:before {
    content: "\EA30";
}
.icon-remove:before {
    content: "\EA31";
}
.icon-renew:before {
    content: "\EA32";
}
.icon-safety-warn:before {
    content: "\EA33";
}
.icon-safety:before {
    content: "\EA34";
}
.icon-search:before {
    content: "\EA35";
}
.icon-share:before {
    content: "\EA36";
}
.icon-star:before {
    content: "\EA37";
}
.icon-tag:before {
    content: "\EA38";
}
.icon-triangle-down:before {
    content: "\EA39";
}
.icon-user:before {
    content: "\EA3A";
}
.icon-users:before {
    content: "\EA3B";
}
.icon-v2-arrow-down-3:before {
    content: "\EA3C";
}
.icon-v2-arrow-down:before {
    content: "\EA3D";
}
.icon-v2-arrow-left-2:before {
    content: "\EA3E";
}
.icon-v2-arrow-left:before {
    content: "\EA3F";
}
.icon-v2-arrow-right-2:before {
    content: "\EA40";
}
.icon-v2-arrow-right:before {
    content: "\EA41";
}
.icon-v2-arrow-up-3:before {
    content: "\EA42";
}
.icon-v2-arrow-up-w:before {
    content: "\EA43";
}
.icon-v2-arrow-up:before {
    content: "\EA44";
}
.icon-v2-bianmin:before {
    content: "\EA45";
}
.icon-v2-cheliang:before {
    content: "\EA46";
}
.icon-v2-complaint:before {
    content: "\EA47";
}
.icon-v2-congwu:before {
    content: "\EA48";
}
.icon-v2-congwuzengsong:before {
    content: "\EA49";
}
.icon-v2-datu:before {
    content: "\EA4A";
}
.icon-v2-ditu:before {
    content: "\EA4B";
}
.icon-v2-ershou:before {
    content: "\EA4C";
}
.icon-v2-fangchansui:before {
    content: "\EA4D";
}
.icon-v2-fangwu:before {
    content: "\EA4E";
}
.icon-v2-favor:before {
    content: "\EA4F";
}
.icon-v2-feedback:before {
    content: "\EA50";
}
.icon-v2-help:before {
    content: "\EA51";
}
.icon-v2-info:before {
    content: "\EA52";
}
.icon-v2-jianzhi:before {
    content: "\EA53";
}
.icon-v2-jiaoyou:before {
    content: "\EA54";
}
.icon-v2-jinengjiaohuan:before {
    content: "\EA55";
}
.icon-v2-link-2:before {
    content: "\EA56";
}
.icon-v2-link:before {
    content: "\EA57";
}
.icon-v2-list:before {
    content: "\EA58";
}
.icon-v2-mail:before {
    content: "\EA59";
}
.icon-v2-manage:before {
    content: "\EA5A";
}
.icon-v2-meishi:before {
    content: "\EA5B";
}
.icon-v2-mobile:before {
    content: "\EA5C";
}
.icon-v2-peixun:before {
    content: "\EA5D";
}
.icon-v2-private-message:before {
    content: "\EA5E";
}
.icon-v2-promotion:before {
    content: "\EA5F";
}
.icon-v2-qq:before {
    content: "\EA60";
}
.icon-v2-search:before {
    content: "\EA61";
}
.icon-v2-service-business:before {
    content: "\EA62";
}
.icon-v2-service-life:before {
    content: "\EA63";
}
.icon-v2-share:before {
    content: "\EA64";
}
.icon-v2-sunfengche:before {
    content: "\EA65";
}
.icon-v2-tesheleimu:before {
    content: "\EA66";
}
.icon-v2-tieba:before {
    content: "\EA67";
}
.icon-v2-tips:before {
    content: "\EA68";
}
.icon-v2-toolbox:before {
    content: "\EA69";
}
.icon-v2-tuwen:before {
    content: "\EA6A";
}
.icon-v2-unfavor:before {
    content: "\EA6B";
}
.icon-v2-video:before {
    content: "\EA6C";
}
.icon-v2-weibo:before {
    content: "\EA6D";
}
.icon-v2-weixin:before {
    content: "\EA6E";
}
.icon-v2-weizhang:before {
    content: "\EA6F";
}
.icon-v2-wupinzengsong:before {
    content: "\EA70";
}
.icon-v2-xiangguan:before {
    content: "\EA71";
}
.icon-v2-xinwen:before {
    content: "\EA72";
}
.icon-v2-zhaohezu:before {
    content: "\EA73";
}
.icon-v2-zhaopin:before {
    content: "\EA74";
}
.icon-v2-zhaorenxunwu:before {
    content: "\EA75";
}
.icon-v2-zhizhao:before {
    content: "\EA76";
}
.icon-vcard:before {
    content: "\EA77";
}
.icon-view-item:before {
    content: "\EA78";
}
.icon-view-pic:before {
    content: "\EA79";
}
.icon-view-title:before {
    content: "\EA7A";
}
.icon-weibo:before {
    content: "\EA7B";
}
.icon-windows:before {
    content: "\EA7C";
}
