@charset "UTF-8";

@font-face {
    font-family: "baicons";
    src: url('fonts/baicons.eot');
    src: url('fonts/baicons.eot?#iefix') format('embedded-opentype'),
    url('fonts/baicons.woff') format('woff'),
    url('fonts/baicons.ttf') format('truetype'),
    url('fonts/baicons.svg#baicons') format('svg');
    font-weight: normal;
    font-style: normal;
}

[data-icon]:before {
    font-family: "baicons" !important;
    content: attr(data-icon);
    font-style: normal !important;
    font-weight: normal !important;
    font-variant: normal !important;
    text-transform: none !important;
    speak: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

[class^="icon-"]:before,
[class*=" icon-"]:before {
    font-family: "baicons" !important;
    font-style: normal !important;
    font-weight: normal !important;
    font-variant: normal !important;
    text-transform: none !important;
    speak: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.icon-android:before {
    content: "\E001";
}
.icon-apple:before {
    content: "\E002";
}
.icon-arrow-bottom:before {
    content: "\E003";
}
.icon-arrow-left:before {
    content: "\E004";
}
.icon-arrow-right:before {
    content: "\E005";
}
.icon-arrow-top:before {
    content: "\E006";
}
.icon-arrow-up:before {
    content: "\E007";
}
.icon-bars:before {
    content: "\E008";
}
.icon-blocked:before {
    content: "\E009";
}
.icon-bubble:before {
    content: "\E00A";
}
.icon-bullhorn:before {
    content: "\E00B";
}
.icon-calendar:before {
    content: "\E00C";
}
.icon-camera:before {
    content: "\E00D";
}
.icon-cart:before {
    content: "\E00E";
}
.icon-cash-bag:before {
    content: "\E00F";
}
.icon-cat-chongwu:before {
    content: "\E010";
}
.icon-cat-ershouche:before {
    content: "\E011";
}
.icon-cat-fangwu:before {
    content: "\E012";
}
.icon-cat-fuwu:before {
    content: "\E013";
}
.icon-cat-jianli:before {
    content: "\E014";
}
.icon-cat-jiaoyu:before {
    content: "\E015";
}
.icon-cat-quanzhi:before {
    content: "\E016";
}
.icon-check-mark-circle:before {
    content: "\E017";
}
.icon-check-mark:before {
    content: "\E018";
}
.icon-clock:before {
    content: "\E019";
}
.icon-cog:before {
    content: "\E01A";
}
.icon-delete-circle:before {
    content: "\E01B";
}
.icon-delete:before {
    content: "\E01C";
}
.icon-envelope:before {
    content: "\E01D";
}
.icon-eye:before {
    content: "\E01E";
}
.icon-fire:before {
    content: "\E01F";
}
.icon-flag:before {
    content: "\E020";
}
.icon-heart:before {
    content: "\E021";
}
.icon-image:before {
    content: "\E022";
}
.icon-info:before {
    content: "\E023";
}
.icon-lightning:before {
    content: "\E024";
}
.icon-location:before {
    content: "\E025";
}
.icon-loop:before {
    content: "\E026";
}
.icon-minus-circle:before {
    content: "\E027";
}
.icon-minus:before {
    content: "\E028";
}
.icon-mobile:before {
    content: "\E029";
}
.icon-pencil:before {
    content: "\E02A";
}
.icon-phone:before {
    content: "\E02B";
}
.icon-pin-to-top:before {
    content: "\E02C";
}
.icon-plus-circle:before {
    content: "\E02D";
}
.icon-plus:before {
    content: "\E02E";
}
.icon-post:before {
    content: "\E02F";
}
.icon-question:before {
    content: "\E030";
}
.icon-remove:before {
    content: "\E031";
}
.icon-renew:before {
    content: "\E032";
}
.icon-safety-warn:before {
    content: "\E033";
}
.icon-safety:before {
    content: "\E034";
}
.icon-search:before {
    content: "\E035";
}
.icon-share:before {
    content: "\E036";
}
.icon-star:before {
    content: "\E037";
}
.icon-tag:before {
    content: "\E038";
}
.icon-triangle-down:before {
    content: "\E039";
}
.icon-user:before {
    content: "\E03A";
}
.icon-users:before {
    content: "\E03B";
}
.icon-vcard:before {
    content: "\E03C";
}
.icon-view-item:before {
    content: "\E03D";
}
.icon-view-pic:before {
    content: "\E03E";
}
.icon-view-title:before {
    content: "\E03F";
}
.icon-weibo:before {
    content: "\E040";
}
.icon-windows:before {
    content: "\E041";
}
