/* Puerh Icons 2 Baicons */

.icon-arrowDown:before { content: "\EA03"; }
.icon-arrowLeft:before { content: "\EA04"; }
.icon-arrowRight:before { content: "\EA05"; }
.icon-arrowTop:before { content: "\EA06"; }
.icon-pcCamera:before { content: "\EA0D"; }
.icon-ershou:before { content: "\EA0E"; }
.icon-cashBag:before { content: "\EA0F"; }
.icon-chongwu:before { content: "\EA10"; }
.icon-cheliang:before { content: "\EA12"; }
.icon-car:before { content: "\EA12"; }
.icon-fangwu:before { content: "\EA13"; }
.icon-fuwu:before { content: "\EA14"; }
.icon-jianli:before { content: "\EA15"; }
.icon-jiaoyu:before { content: "\EA18"; }
.icon-quanzhi:before { content: "\EA19"; }
.icon-checkmark-circle:before { content: "\EA1A"; }
.icon-checkmark:before { content: "\EA1B"; }
.icon-jianzhi:before { content: "\EA1C"; }
.icon-cancel-circle:before { content: "\EA1E"; }
.icon-close:before { content: "\EA1F"; }
.icon-jiaoyou:before { content: "\EA24"; }
.icon-entertainment:before { content: "\EA24"; }
.icon-mobile-2:before { content: "\EA2C"; }
.icon-pinToTop:before { content: "\EA2F"; }
.icon-safety2:before { content: "\EA36"; }
.icon-safety1:before { content: "\EA37"; }
.icon-downTriangle:before { content: "\EA3C"; }
.icon-user-2:before { content: "\EA3D"; }
.icon-card:before { content: "\EA3F"; }
.icon-viewItem:before { content: "\EA40"; }
.icon-viewPic:before { content: "\EA41"; }
.icon-viewTitle:before { content: "\EA42"; }
.icon-windows8:before { content: "\EA44"; }
