@charset "UTF-8";

@font-face {
  font-family: "baicons";
  src:url("fonts/baicons.eot");
  src:url("fonts/baicons.eot?#iefix") format("embedded-opentype"),
    url("fonts/baicons.woff") format("woff"),
    url("fonts/baicons.ttf") format("truetype"),
    url("fonts/baicons.svg#baicons") format("svg");
  font-weight: normal;
  font-style: normal;

}

[data-icon]:before {
  font-family: "baicons" !important;
  content: attr(data-icon);
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

[class^="icon-"]:before,
[class*=" icon-"]:before {
  font-family: "baicons" !important;
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-android:before {
  content: "a";
}
.icon-apple:before {
  content: "b";
}
.icon-arrow-bottom:before {
  content: "c";
}
.icon-arrow-left:before {
  content: "d";
}
.icon-arrow-right:before {
  content: "e";
}
.icon-arrow-top:before {
  content: "f";
}
.icon-arrow-up:before {
  content: "g";
}
.icon-bars:before {
  content: "h";
}
.icon-blocked:before {
  content: "i";
}
.icon-bubble:before {
  content: "j";
}
.icon-bullhorn:before {
  content: "k";
}
.icon-calendar:before {
  content: "l";
}
.icon-camera:before {
  content: "m";
}
.icon-cart:before {
  content: "n";
}
.icon-cash-bag:before {
  content: "o";
}
.icon-check-mark:before {
  content: "p";
}
.icon-check-mark-circle:before {
  content: "q";
}
.icon-clock:before {
  content: "r";
}
.icon-cog:before {
  content: "s";
}
.icon-delete:before {
  content: "t";
}
.icon-delete-circle:before {
  content: "u";
}
.icon-envelope:before {
  content: "v";
}
.icon-eye:before {
  content: "w";
}
.icon-fire:before {
  content: "x";
}
.icon-flag:before {
  content: "y";
}
.icon-heart:before {
  content: "z";
}
.icon-image:before {
  content: "A";
}
.icon-info:before {
  content: "B";
}
.icon-lightning:before {
  content: "C";
}
.icon-lm-chongwu:before {
  content: "D";
}
.icon-lm-ershouche:before {
  content: "E";
}
.icon-lm-fangwu:before {
  content: "F";
}
.icon-lm-fuwu:before {
  content: "G";
}
.icon-lm-jianli:before {
  content: "H";
}
.icon-lm-jiaoyu:before {
  content: "I";
}
.icon-location:before {
  content: "J";
}
.icon-loop:before {
  content: "K";
}
.icon-lu-quanzhi:before {
  content: "L";
}
.icon-minus:before {
  content: "M";
}
.icon-minus-circle:before {
  content: "N";
}
.icon-mobile:before {
  content: "O";
}
.icon-pencil:before {
  content: "P";
}
.icon-phone:before {
  content: "Q";
}
.icon-pin-to-top:before {
  content: "R";
}
.icon-post:before {
  content: "S";
}
.icon-question:before {
  content: "T";
}
.icon-remove:before {
  content: "U";
}
.icon-renew:before {
  content: "V";
}
.icon-safty:before {
  content: "W";
}
.icon-safty-warn:before {
  content: "X";
}
.icon-search:before {
  content: "Y";
}
.icon-share:before {
  content: "Z";
}
.icon-star:before {
  content: "0";
}
.icon-triangle-down:before {
  content: "1";
}
.icon-user:before {
  content: "2";
}
.icon-users:before {
  content: "3";
}
.icon-vcard:before {
  content: "4";
}
.icon-view-item:before {
  content: "5";
}
.icon-view-pic:before {
  content: "6";
}
.icon-view-title:before {
  content: "7";
}
.icon-weibo:before {
  content: "8";
}
.icon-windows:before {
  content: "9";
}
